{% unless site.layout.header.enabled == false %}
  <div class='site-header'>
    <div class='pure-g site-header-container'>

      <div class='pure-u-1-1 pure-u-md-2-5 text-align-left-medium'>
        <a class='site-header-title' href='{{ site.baseurl }}/'>{{ site.title }}</a>
        <div class='site-header-subtitle'>{{ site.tagline }}</div>
      </div>

      <div class='pure-u-1-1 pure-u-md-3-5 site-header-links text-align-right-medium'>
        <a class='tooltip-down' data='Fork: {{ site.github.repo }}' href='https://github.com/{{ site.github.user }}/{{ site.github.repo }}#fork-destination-box'>
          <i class='fa fa-code-fork'></i>
        </a>
        &nbsp;
        <a class='tooltip-down' data='{{ site.github.user}}/{{ site.github.repo }}' href='https://github.com/{{ site.github.user }}/{{ site.github.repo }}'>
          <i class='fa fa-github'></i>
        </a>
        &nbsp; &middot; &nbsp;
        <a class='tooltip-down' data='Download' href='https://github.com/{{ site.github.user }}/{{ site.github.repo }}/archive/master.zip'>
          <i class='fa fa-download'></i>
        </a>
        &nbsp; &middot; &nbsp;
        <a class='tooltip-down' data='GitHub: {{ site.github.user }}' href='https://github.com/{{ site.github.user }}'>
          <i class='fa fa-user'></i>
        </a>
      </div>

    </div>
  </div>
{% endunless %}
