{% unless site.layout.sidebar.enabled == false %}
  <div class='pure-u site-sidebar'>
    <label for='reveal-sidebar-checkbox' class='reveal-sidebar'>
      <i class='fa fa-2x fa-bars'></i>
    </label>
    <input type='checkbox' id='reveal-sidebar-checkbox' role='button'>

    <div class='sidebar-contents'>
      {% if site.author.photo %}
        <a class='tooltip-img-down' href='{{ site.author.link }}' data='Yep, That&#39;s me!'>
          {% if site.author.photo.local %}
            {% assign photo_url = site.baseurl | append: '/' | append: site.author.photo.local %}
          {% else %}
            {% assign photo_url = site.author.photo.remote %}
          {% endif %}
          <img class='sidebar-author-photo' alt='{{ site.author.photo.alt }}' src='{{ photo_url }}'/>
        </a>
      {% endif %}

      <div class='menu'>
        <ul class='menu-list'>

          {% for link_group in site.menu %}
            <li class='menu-heading'> {{ link_group[0] }}</li>

            {% for link in link_group[1] %}
              {% if link[1].type == 'spacer' %}
                <li class='menu-spacer'></li>

              {% elsif link[1].type == 'separator' %}
                <li class='menu-separator'></li>

              {% elsif link[1].local %}
                {% for page in site.pages %}
                  {% if page.path == link[1].local %}
                    <li class='menu-item'>
                      <a class='menu-link' href='{{ site.baseurl }}{{ page.url }}'>
                        {% if page.icon %}
                          <i class='fa fa-fw fa-{{ page.icon }}'></i>
                        {% endif %}
                        {{ page.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}

              {% else %}
                <li class='menu-item'>
                  <a class='menu-link' href='{{ link[1].url }}'>
                    {% if link[1].icon %}
                      <i class='fa fa-fw fa-{{ link[1].icon }}'></i>
                    {% endif %}
                    {{ link[1].title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}

        </ul>
      </div>

      <div class='sidebar-note'>
        <div class='faded-foreground'>
          Last modified<br>
          {{ site.time }}
        </div>
      </div>
    </div>
  </div>
{% endunless %}
