.menu {
  text-align: left;
  font-size: 1.05rem;

  .menu-list {
    list-style: none;
    padding-left: 20px;
    margin: 0 0 1.5rem 0;

    .menu-heading {
      font-size: 1.2em;
      font-weight: bold;
      font-variant: small-caps;
      color: fade-out($foreground-color, 0.5);
      margin-top: 0.75rem;
      margin-left: -12px;
    }

    .menu-spacer {
      margin: 0.75rem 0;
    }

    .menu-separator {
      margin: 0.5rem 0;
      border-top: thin solid fade-out($foreground-color, 0.8);
    }

    .menu-item {
      margin: 0.15rem 0;

      .menu-link {
        @include set_color_and_hover($accent-color);
      }
    }
  }
}
