@import "partials/site-header";

// TODO: Verify / Calculate
$site-header-height: 130;
$site-header-height-medium-screen: 84;

.site-header {
  position: fixed;
  height: $site-header-height + px;

  @include media(medium) {
    height: $site-header-height-medium-screen + px;
  }
}

$site-header-vspace: $site-header-height + $site-header-border-height;
$site-header-vspace-small-screen: $site-header-height + $site-header-border-height;
$site-header-vspace-medium-screen: $site-header-height-medium-screen + $site-header-border-height;
