/* Vars-Required-From:
 *   . base
 *
 * Vars-Set-From:
 *   Nil
 */

$header-border-height: $default-border-thickness;

$header-font-size: 0.8rem;
$header-font-size-medium: 1rem;

.site-header {
  background-color: $site-color-background;

  // TODO: Cross-browser support
  border-bottom: ($header-border-height + px) solid fade-out($site-color-highlight, $default-color-delta-huge / 100);
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0), fade-out($site-color-highlight, $default-color-delta-huge / 100) 10%, fade-out($site-color-highlight, $default-color-delta-huge / 100) 90%, rgba(0, 0, 0, 0)) 0 0 100% 0 stretch;
  border-width: 0 0 ($header-border-height + px) 0;
  font-size: $header-font-size;
  max-width: inherit;
  top: 0px;
  width: 100%;
  z-index: 1;

  .site-header-container {
    margin: 0;

    * {
      vertical-align: middle;
    }

    .site-header-title, .site-header-links {
      font: bold 2em $site-font-stack-head;
      margin: auto 0px;
    }

    .site-header-title {
      color: inherit;
      font-size: 2.75em;
    }

    .site-header-subtitle {
      font-family: $site-font-stack-base;
    }

    @include set_color_and_hover($site-color-highlight);

    @include media(medium) {
      margin: 0 ($default-gap-thin + px);
    }
  }

  @include media(medium) {
    font-size: $header-font-size-medium;
  }
}
