@import "partials/menu";

$site-sidebar-width: 250;
$site-sidebar-hidden-width: 200;
$site-sidebar-border-width: $site-border-thickness;

$sidebar-font-size: 1.05rem;
$sidebar-hidden-font-size: 0.85rem;

.site-sidebar {
  right: 0px;
  padding: 4px;
  position: fixed;
  margin: 0px;
  background-color: $background-color;
  border-radius: 0px 0px 0px 12px;
  border-left: ($site-sidebar-border-width + px) solid $highlight-color;
  border-bottom: ($site-sidebar-border-width + px) solid $highlight-color;
  text-align: center;
  font-size: $sidebar-hidden-font-size;

  .sidebar-author-photo {
    width: 80%;
  }

  .sidebar-note {
    font-size: 0.7em;
  }

  @include media(medium) {
    right: auto;
    border: none;
    border-radius: 0px;

    @if $site-sidebar-side == "right" {
      margin-left: -$site-sidebar-width - $site-sidebar-border-width + px;
      border-width: 0 0 0 ($site-sidebar-border-width + px);
      border-image: linear-gradient(to top, rgba(0, 0, 0, 0), $highlight-color 50%) 0 0 0 100% stretch;
    }
    @else {
      border-width: 0 ($site-sidebar-border-width + px) 0 0;
      border-image: linear-gradient(to top, rgba(0, 0, 0, 0), $highlight-color 50%) 0 100% 0 0 stretch;
    }

    padding: 0px;
  font-size: $sidebar-font-size;
    width: $site-sidebar-width + px;
  }
}

.site-sidebar {
  .reveal-sidebar {
    @include set_color_and_hover($accent-color, color);

    color: $accent-color;
    display: block;
  }

  .sidebar-contents {
    display: none;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked ~ .sidebar-contents {
    display: block;
    width: $site-sidebar-hidden-width + px;
  }

  @include media(medium) {
    .reveal-sidebar {
      display: none;
    }

    .sidebar-contents {
      display: block;
      width: 100%;
    }
  }
}
