html {
  font-size: 18px;
}

html, button, input, select, textarea,
.pure-g [class*="pure-u"] {
  font-family: $site-font-stack-base;
}

code, kbd, pre, samp {
  font-family: $site-font-stack-mono;
}

a {
  text-decoration: none;
  font-family: $site-font-stack-head;
}

#{headings()} {
  margin: 1rem 0 0 0;
  font-family: $site-font-stack-head;
  font-weight: bold;
}

@include set_heading_font_sizes;

@include make_text_align_classes;

.page-icon {
  padding: ($default-gap-thin + px) 0;
  color: $site-color-background;
  background-color: $site-color-foreground;
}

.text-align-center {
  text-align: center;
}
